{extend name="index/base" /} {block name="body"}
<style>
    .event-title {
        margin-top: 5px;
    }
</style>

<style type="text/css">
    #nav {
        height: 40px;
        border-top: #060 2px solid;
        margin-top: 100px;
        border-bottom: #060 2px solid;
        background-color: #690;
    }
    
    #nav ul {
        list-style: none;
        line-height: 40px;
        margin-left: 50px;
    }
    
    #nav li {
        display: block;
        float: left;
    }
    
    #nav a {
        display: block;
        color: #fff;
        text-decoration: none;
        padding: 0 20px;
    }
    
    #nav a:hover {
        background-color: #060;
    }
</style>


<div style="width: 1170px;margin: auto;">

    <div id="secondary-right" class="widget-area right-sidebar sidebar" style="float:left;width:285px;">
        <aside id="latest-events" class="clearfix">
            <h3 class="widget-title">MEMBERS</h3>
            <ul>
                <li>
                    <a href="#teacher">Teachers</a>
                </li>
                <li>
                    <a href="#research">Research Associates</a>
                </li>
                <li>
                    <a href="#postdoctoral">Postdoctoral</a>
                </li>
                <li>
                    <a href="#fellows">Fellows</a></li>
                <li>
                    <a href="#student">Graduate student</a></li>
                <li>
                    <a href="#visitors">Academic visitors</a></li>
                <li>
                    <a href="#alumni">Alumni</a></li>
            </ul>

        </aside>


    </div>


    <div class="ak-container">
        <section id="primary" class="content-area" style="margin-top: 11px;">
            <main id="main" class="site-main" role="main" style="float: right;margin:0 4%;">

                <style>
                    .cheshi1 {
                        width: 500px;
                        height: 100px;
                        float: left;
                    }
                    
                    .cheshi1 img {
                        float: left;
                        width: 99px;
                        height: 300px;
                    }
                    
                    .cheshi2 {
                        float: left;
                        width: 99px;
                        height: 100px;
                    }
                    
                    ul,
                    li {
                        list-style: none;
                        display: block;
                    }
                    
                    .scrollBox {
                        background: #FFF;
                        margin: 5px auto;
                        overflow: hidden;
                        border: 1px dashed #CCC;
                        width: 800px;
                    }
                    
                    .scrollBox .con1,
                    .scrollBox .con2 {
                        float: left;
                        margin-left: 10px;
                    }
                    
                    #innerdiv {
                        float: left;
                        width: 800%;
                    }
                    
                    a img {
                        height: 300px;
                    }
                </style>

                <div>
                    <h3 style="margin-bottom: 5px;">标题</h3>
                    <a href="">
                        <div class="event-excerpt" style="height: 100px;overflow: hidden;text-align: justify;">
                            Fabrication of artificial biomimetic materials has attracted abundant attention. As one of the subcategories of biomimetic materials, artificial cells are highly significant for multiple disciplines and their synthesis has been intensively pursued. In
                            order to manufacture robust “alive” artificial cells with high throughput, easy operation, and precise control, flexible microfluidic techniques are widely utilized. Herein, recent advances in microfluidic‐based methods for
                            the synthesis of droplets, vesicles, and artificial cells are summarized. First, the advances of droplet fabrication and manipulation on the T‐junction, flow‐focusing, and coflowing microfluidic devices are discussed. Then,
                            the formation of unicompartmental and multicompartmental vesicles based on microfluidics are summarized. Furthermore, the engineering of droplet‐based and vesicle‐based artificial cells by microfluidics is also reviewed. Moreover,
                            the artificial cells applied for imitating cell behavior and acting as bioreactors for synthetic biology are highlighted. Finally, the current challenges and future trends in microfluidic‐based artificial cells are discussed.
                            This review should be helpful for researchers in the fields of microfluidics, biomaterial fabrication, and synthetic biology.</div>
                    </a>

                    <div class="scrollBox">
                        <div id="innerdiv">
                            <div class="con1">
                                <a href="#"><img src="/Huaping_files/event-fallback.jpg"></a>
                                <a href="#"><img src="/Huaping_files/event-fallback.jpg"></a>
                                <a href="#"><img src="/Huaping_files/event-fallback.jpg"></a>
                                <a href="#"><img src="/Huaping_files/event-fallback.jpg"></a>
                            </div>
                            <div class="con2"></div>
                        </div>
                    </div>
                </div>
                <hr>
                <div>
                    <h3 style="margin-bottom: 5px;">标题</h3>
                    <a href="">
                        <div class="event-excerpt" style="height: 100px;overflow: hidden;text-align: justify;">
                            Fabrication of artificial biomimetic materials has attracted abundant attention. As one of the subcategories of biomimetic materials, artificial cells are highly significant for multiple disciplines and their synthesis has been intensively pursued. In
                            order to manufacture robust “alive” artificial cells with high throughput, easy operation, and precise control, flexible microfluidic techniques are widely utilized. Herein, recent advances in microfluidic‐based methods for
                            the synthesis of droplets, vesicles, and artificial cells are summarized. First, the advances of droplet fabrication and manipulation on the T‐junction, flow‐focusing, and coflowing microfluidic devices are discussed. Then,
                            the formation of unicompartmental and multicompartmental vesicles based on microfluidics are summarized. Furthermore, the engineering of droplet‐based and vesicle‐based artificial cells by microfluidics is also reviewed. Moreover,
                            the artificial cells applied for imitating cell behavior and acting as bioreactors for synthetic biology are highlighted. Finally, the current challenges and future trends in microfluidic‐based artificial cells are discussed.
                            This review should be helpful for researchers in the fields of microfluidics, biomaterial fabrication, and synthetic biology.</div>
                    </a>

                    <div class="scrollBox">
                        <div id="innerdiv">
                            <div class="con1">
                                <a href="#"><img src="/Huaping_files/event-fallback.jpg"></a>
                                <a href="#"><img src="/Huaping_files/event-fallback.jpg"></a>
                                <a href="#"><img src="/Huaping_files/event-fallback.jpg"></a>
                                <a href="#"><img src="/Huaping_files/event-fallback.jpg"></a>
                            </div>
                            <div class="con2"></div>
                        </div>
                    </div>
                </div>
                <hr>
                <div>
                    <h3 style="margin-bottom: 5px;">标题</h3>
                    <a href="">
                        <div class="event-excerpt" style="height: 100px;overflow: hidden;text-align: justify;">
                            Fabrication of artificial biomimetic materials has attracted abundant attention. As one of the subcategories of biomimetic materials, artificial cells are highly significant for multiple disciplines and their synthesis has been intensively pursued. In
                            order to manufacture robust “alive” artificial cells with high throughput, easy operation, and precise control, flexible microfluidic techniques are widely utilized. Herein, recent advances in microfluidic‐based methods for
                            the synthesis of droplets, vesicles, and artificial cells are summarized. First, the advances of droplet fabrication and manipulation on the T‐junction, flow‐focusing, and coflowing microfluidic devices are discussed. Then,
                            the formation of unicompartmental and multicompartmental vesicles based on microfluidics are summarized. Furthermore, the engineering of droplet‐based and vesicle‐based artificial cells by microfluidics is also reviewed. Moreover,
                            the artificial cells applied for imitating cell behavior and acting as bioreactors for synthetic biology are highlighted. Finally, the current challenges and future trends in microfluidic‐based artificial cells are discussed.
                            This review should be helpful for researchers in the fields of microfluidics, biomaterial fabrication, and synthetic biology.</div>
                    </a>

                    <div class="scrollBox">
                        <div id="innerdiv">
                            <div class="con1">
                                <a href="#"><img src="/Huaping_files/event-fallback.jpg"></a>
                                <a href="#"><img src="/Huaping_files/event-fallback.jpg"></a>
                                <a href="#"><img src="/Huaping_files/event-fallback.jpg"></a>
                                <a href="#"><img src="/Huaping_files/event-fallback.jpg"></a>
                            </div>
                            <div class="con2"></div>
                        </div>
                    </div>
                </div>

            </main>
            <!-- #main -->
        </section>

        <script type="text/javascript">
            var area = document.getElementsByClassName('scrollBox');
            var con1 = document.getElementsByClassName('con1');
            var con2 = document.getElementsByClassName('con2');

            for (i = 0; i < area.length; i++) {

                con2[i].innerHTML = con1[i].innerHTML;
                area[i].scrollLeft = 0;

                function scrollUp() {
                    if (area[i].scrollLeft >= con2[i].offsetWidth) {
                        area[i].scrollLeft = 0;
                    } else {
                        area[i].scrollLeft += 5;
                    }
                }
                var time = 10000;
                var mytimer = setInterval(scrollUp, time);
                area.οnmοuseοver = function() {
                    clearInterval(mytimer);
                }
                area.οnmοuseοut = function() {
                    mytimer = setInterval(scrollUp, time);
                }
            }



            /*
            var speed=10; //数字越大速度越慢
            var tab=document.getElementById('scrollBox');
            var tab1=document.getElementById('con1');
            var tab2=document.getElementById('con2');
            tab2.innerHTML=tab1.innerHTML;
            function Marquee(){
            if(tab2.offsetWidth-tab.scrollLeft<=0)
            tab.scrollLeft-=tab1.offsetWidth
            else{
            tab.scrollLeft++;
            }
            }
            var MyMar=setInterval(Marquee,speed);
            tab.οnmοuseοver=function() {clearInterval(MyMar)};
            tab.οnmοuseοut=function() {MyMar=setInterval(Marquee,speed)};
            */
        </script>
        <!-- #primary -->
        <div id="secondary-right" class="widget-area right-sidebar sidebar"></div>
        <!-- #secondary -->
    </div>
</div>


{/block}s