{extend name="index/base" /} {block name="body"}
<style>
    .event-title {
        margin-top: 5px;
    }
</style>

<style type="text/css">
    #nav {
        height: 40px;
        border-top: #060 2px solid;
        margin-top: 100px;
        border-bottom: #060 2px solid;
        background-color: #690;
    }
    
    #nav ul {
        list-style: none;
        line-height: 40px;
        margin-left: 50px;
    }
    
    #nav li {
        display: block;
        float: left;
    }
    
    #nav a {
        display: block;
        color: #fff;
        text-decoration: none;
        padding: 0 20px;
    }
    
    #nav a:hover {
        background-color: #060;
    }
</style>


<div style="width: 1170px;margin: auto;">

    <div id="secondary-right" class="widget-area right-sidebar sidebar" style="float:left;width:285px;">
        <aside id="latest-events" class="clearfix">
            <h3 class="widget-title">MEMBERS</h3>
            <ul>
                <li>
                    <a href="#teacher">Teachers</a>
                </li>
                <li>
                    <a href="#research">Research Associates</a>
                </li>
                <li>
                    <a href="#postdoctoral">Postdoctoral</a>
                </li>
                <li>
                    <a href="#fellows">Fellows</a></li>
                <li>
                    <a href="#student">Graduate student</a></li>
                <li>
                    <a href="#visitors">Academic visitors</a></li>
                <li>
                    <a href="#alumni">Alumni</a></li>
            </ul>

        </aside>


    </div>


    <div class="ak-container">
        <section id="primary" class="content-area" style="width: 100%;margin-top: 40px;">
            <main id="main" class="site-main" role="main">

                <style>
                    .cheshi1 {
                        width: 500px;
                        height: 100px;
                        float: left;
                    }
                    
                    .cheshi1 img {
                        float: left;
                        width: 99px;
                        height: 300px;
                    }
                    
                    .cheshi2 {
                        float: left;
                        width: 99px;
                        height: 100px;
                    }
                </style>
                <div class="cheshi1">
                    <img src="https://dss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=1023930647,556480488&fm=26&gp=0.jpg" />
                    <img src="https://dss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=1023930647,556480488&fm=26&gp=0.jpg" />
                    <img src="https://dss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=1023930647,556480488&fm=26&gp=0.jpg" />
                    <img src="https://dss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=1023930647,556480488&fm=26&gp=0.jpg" />
                    <img style="float:left; width:99px; height:100px;" src="https://dss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=1023930647,556480488&fm=26&gp=0.jpg" />
                </div>
            </main>
            <!-- #main -->
        </section>
        <!-- #primary -->
        <div id="secondary-right" class="widget-area right-sidebar sidebar"></div>
        <!-- #secondary -->
    </div>
</div>


{/block}s