{extend name="index/base" /} {block name="body"}

<script type="text/javascript" src="/lunbo/js/jquery.min.js"></script>
<script src="/lunbo/js/hm.js"></script>
<script type="text/javascript" src="/lunbo/js/jquery.qrcode.min.js"></script>
<iframe id="iframe" src="/rotation" frameborder="0" width="100%" height="425px"></iframe>
<style>
    .event-thumbnail img {
        height: 100px;
        width: 136px;
    }
    
    .event-detail h4 {
        margin-top: 0px;
    }
    
    .event-excerpt {
        text-align: justify;
    }
</style>
<div id="home-content" class="site-content">
    <section id="top-section" class="ak-container">
        <div id="welcome-text" class="clearfix">
            <h1 style="
            margin-top: 0px;
        ">
                <a href="{$site.domain}/research-interests/">Research Interests</a></h1>


            <div class="swiper-wrapper">
                <div class="welcome-detail welcome-detail-full-width">

                    <p style="margin-top: 0px;">
                        <a href="/Huaping_files/Xu-HP-ACR-2013.jpeg">
                            <img class="wp-image-333 aligncenter" src="https://dss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=194233767,3078416653&fm=26&gp=0.jpg" alt="Xu HP ACR 2013" style="
                    width: 625px;
                    height: 275px;
                ">
                        </a>
                    </p>
                    <p> <strong>Selenium-containing Polymers:</strong>
                    </p>
                    <p>Redox responsive polymers have attracted wide interest for their promising applications in controllable encapsulation and delivery in physiological environments, where the redox process is constantly and widely present. A series of
                        selenium-containing polymers, including main chain and side chain block copolymers, dendrimers and hyperbranched polymers, have been designed and synthesized for controlled self-assembly and disassembly under various responsive
                        stimuli, which may act as new biomaterials for controlled drug delivery and enzyme mimics.</p>
                    <p> <a href="{$site.domain}/research-interests/#more-37" class="more-link">(more…)</a>
                    </p>
                </div>





            </div>


        </div>
        <div id="latest-events">
            <h1 style="margin-top: 0px;"><a href="{$site.domain}/category/news/">News</a></h1>
            <div id="colee" style="overflow:hidden;height:525px;">
                <div id="colee1">
                    {foreach name="news" item="vo"}
                    <div class="event-list clearfix">
                        <figure class="event-thumbnail">
                            <a href="{$site.domain}/congratulations-phd-student-jiahao-xia-received-best-poster-award-in-2019-the-16th-pacific-polymer-conference/">
                                <img src="https://dss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=194233767,3078416653&fm=26&gp=0.jpg">
                            </a>
                        </figure>
                        <div class="event-detail">
                            <h4 class="event-title">
                                <a href="{$site.domain}/congratulations-phd-student-jiahao-xia-received-best-poster-award-in-2019-the-16th-pacific-polymer-conference/">{$vo.title}</a></h4>
                            <!-- <div class="event-excerpt">{$vo.create_time|date='Y-m-d',###},{$vo.introduction}</div> -->
                            <div class="event-excerpt">{$vo.introduction}</div>
                        </div>
                    </div>
                    {/foreach}
                    <p></p>
                </div>
                <div id="colee2"></div>
            </div>


        </div>
    </section>
</div>

<div style="display:none;">

    <div class="welcome-detail welcome-detail-full-width dis">

        <p style="margin-top: 0px;">
            <a href="/Huaping_files/Xu-HP-ACR-2013.jpeg">
                <img class="wp-image-333 aligncenter" src="https://dss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=194233767,3078416653&fm=26&gp=0.jpg" alt="Xu HP ACR 2013" style="
        width: 625px;
        height: 275px;
    ">
            </a>
        </p>
        <p> <strong>Selenium-containing Polymers:</strong>
        </p>
        <p>Redox responsive polymers have attracted wide interest for their promising applications in controllable encapsulation and delivery in physiological environments, where the redox process is constantly and widely present. A series of selenium-containing
            polymers, including main chain and side chain block copolymers, dendrimers and hyperbranched polymers, have been designed and synthesized for controlled self-assembly and disassembly under various responsive stimuli, which may act as new biomaterials
            for controlled drug delivery and enzyme mimics.</p>
        <p> <a href="{$site.domain}/research-interests/#more-37" class="more-link">(more…)</a>
        </p>
    </div>
    <div class="welcome-detail welcome-detail-full-width dis">

        <p style="margin-top: 0px;">
            <a href="/Huaping_files/Xu-HP-ACR-2013.jpeg">
                <img class="wp-image-333 aligncenter" src="/Huaping_files/Xu-HP-ACR-2013.jpeg" alt="Xu HP ACR 2013" style="
        width: 625px;
        height: 275px;
    ">
            </a>
        </p>
        <p> <strong>Selenium-containing Polymers:</strong>
        </p>
        <p>Redox responsive polymers have attracted wide interest for their promising applications in controllable encapsulation and delivery in physiological environments, where the redox process is constantly and widely present. A series of selenium-containing
            polymers, ir81249827409248032580925739503259328498742 block copolymers, dendrimers and hyperbranched polymers, have been designed and synthesized for controlled self-assembly and disassembly under various responsive stimuli, which may act
            as new biomaterials for controlled drug delivery and enzyme mimics.</p>
        <p> <a href="{$site.domain}/research-interests/#more-37" class="more-link">(more…)</a>
        </p>
    </div>

</div>

<script>
    data = $(".dis");

    len = data.length;
    n = 1;
    console.log(data);

    function test() {
        console.log('test', n);
        if (n < len) {
            $(".swiper-wrapper").html(data[n]);
            n++;
        } else {
            n = 0;
            $(".swiper-wrapper").html(data[n]);
        }

    }


    setInterval(function() {
        test()

    }, 5000)
</script>


<script>
    //速度设置
    var speed = 100;
    var colee2 = document.getElementById("colee2");
    var colee1 = document.getElementById("colee1");
    var colee = document.getElementById("colee");
    colee2.innerHTML = colee1.innerHTML; //克隆colee1为colee2
    function Marquee1() {
        //当滚动至colee1与colee2交界时
        if (colee2.offsetTop - colee.scrollTop <= 0) { 
            colee.scrollTop -= colee1.offsetHeight; //colee跳到最顶端
             
        } else { 
            colee.scrollTop++
                // console.log('colee2.offsetTop', colee2.offsetTop);
                // console.log('colee.scrollTop', colee.scrollTop);
        }
    }
    var MyMar1 = setInterval(Marquee1, speed) //设置定时器


    //鼠标移上时清除定时器达到滚动停止的目的
    colee.onmouseover = function() {
            clearInterval(MyMar1)
        }
        //鼠标移开时重设定时器
    colee.onmouseout = function() {
        MyMar1 = setInterval(Marquee1, speed)
    }
</script>

<script type="text/javascript" src="/lunbo/js/jquery.min.js"></script>
<script type="text/javascript" src="/lunbo/js/Cooldog.js"></script>

{/block}