{extend name="index/base" /} {block name="body"}

<script type="text/javascript" src="/lunbo/js/jquery.min.js"></script>
<script src="/lunbo/js/hm.js"></script>
<script type="text/javascript" src="/lunbo/js/jquery.qrcode.min.js"></script>
<iframe id="iframe" src="/rotation" frameborder="0" width="100%" height="425px"></iframe>
<style>
    .event-thumbnail img {
        height: 100px;
        width: 131px;
    }
    
    .event-detail h3 {
        margin-top: 0px;
    }
    
    .event-excerpt {
        text-align: justify;
        font-size: 13px;
        height: 70px;
        overflow: hidden;
    }
    
    #top-section h1 a {
        color: #0b0b0b;
    }
    
    .bttn {
        background: #e064f5;
        font-size: 13px;
        font-size: 1.2rem;
    }
</style>
<div id="home-content" class="site-content">
    <section id="top-section" class="ak-container">
        <div id="welcome-text" class="clearfix">
            <h1 style="margin-top: 0px;">
                RESEARCH INTERESTS

                <a href="/research" class=" bttn" style="margin-left: 250px;padding: 4px 4px;
                font-size: 10px;">More+</a>
            </h1>


            <div class="swiper-wrapper">
                <div class="welcome-detail welcome-detail-full-width">

                    <p style="margin-top: 0px;">
                        <a href="/Huaping_files/Xu-HP-ACR-2013.jpeg">
                            <img class="wp-image-333 aligncenter" src="https://dss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=194233767,3078416653&fm=26&gp=0.jpg" alt="Xu HP ACR 2013" style="
                    width: 625px;
                    height: 275px;
                ">
                        </a>
                    </p>
                    <p> <strong>Artificial Biomimetic Materials:</strong>
                    </p>
                    <p style="margin-bottom: 0;height: 165px;overflow: hidden;">
                        Fabrication of artificial biomimetic materials has attracted abundant attention. As one of the subcategories of biomimetic materials, artificial cells are highly significant for multiple disciplines and their synthesis has been intensively pursued. In
                        order to manufacture robust “alive” artificial cells with high throughput, easy operation, and precise control, flexible microfluidic techniques are widely utilized. Herein, recent advances in microfluidic‐based methods for the
                        synthesis of droplets, vesicles, and artificial cells are summarized. First, the advances of droplet fabrication and manipulation on the T‐junction, flow‐focusing, and coflowing microfluidic devices are discussed. Then, the formation
                        of unicompartmental and multicompartmental vesicles based on microfluidics are summarized. Furthermore, the engineering of droplet‐based and vesicle‐based artificial cells by microfluidics is also reviewed. Moreover, the artificial
                        cells applied for imitating cell behavior and acting as bioreactors for synthetic biology are highlighted. Finally, the current challenges and future trends in microfluidic‐based artificial cells are discussed. This review should
                        be helpful for researchers in the fields of microfluidics, biomaterial fabrication, and synthetic biology.</p>

                </div>





            </div>


        </div>
        <div id="latest-events">
            <h1 style="margin-top: 0px;">News
                <a href="/news" class="cat-event-more bttn" style="margin-left: 350px;font-size: 10px;
                padding: 4px 4px;">More+</a>
            </h1>
            <div id="colee" style="overflow:hidden;height:500px;">
                <div id="colee1">
                    {foreach name="news" item="vo"}
                    <div class="event-list clearfix">
                        <figure class="event-thumbnail">
                            <a href="{$site.domain}/congratulations-phd-student-jiahao-xia-received-best-poster-award-in-2019-the-16th-pacific-polymer-conference/">
                                <img src="https://dss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=194233767,3078416653&fm=26&gp=0.jpg">
                            </a>
                        </figure>
                        <div class="event-detail">
                            <h3 class="event-title" style="margin-bottom: 0px;">
                                <a href="{$site.domain}/congratulations-phd-student-jiahao-xia-received-best-poster-award-in-2019-the-16th-pacific-polymer-conference/">{$vo.title}</a></h3>
                            <!-- <div class="event-excerpt">{$vo.create_time|date='Y-m-d',###},{$vo.introduction}</div> -->
                            <div class="event-excerpt">Fabrication of artificial biomimetic materials has attracted abundant attention. As one of the subcategories of biomimetic materials, artificial cells are highly significant for multiple disciplines and their synthesis has
                                been intensively pursued. In order to manufacture robust “alive” artificial cells with high throughput, easy operation, and precise control, flexible microfluidic techniques are widely utilized. Herein, recent advances
                                in microfluidic‐based methods for the synthesis of droplets, vesicles, and artificial cells are summarized. First, the advances of droplet fabrication and manipulation on the T‐junction, flow‐focusing, and coflowing microfluidic
                                devices are discussed. Then, the formation of unicompartmental and multicompartmental vesicles based on microfluidics are summarized. Furthermore, the engineering of droplet‐based and vesicle‐based artificial cells by microfluidics
                                is also reviewed. Moreover, the artificial cells applied for imitating cell behavior and acting as bioreactors for synthetic biology are highlighted. Finally, the current challenges and future trends in microfluidic‐based
                                artificial cells are discussed. This review should be helpful for researchers in the fields of microfluidics, biomaterial fabrication, and synthetic biology.</div>
                        </div>
                    </div>
                    {/foreach}
                    <p></p>
                </div>
                <div id="colee2"></div>
            </div>

            </p>


        </div>
    </section>
</div>

<div style="display:none;">

    <div class="welcome-detail welcome-detail-full-width dis">

        <p style="margin-top: 0px;">
            <a href="/Huaping_files/Xu-HP-ACR-2013.jpeg">
                <img class="wp-image-333 aligncenter" src="https://dss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=194233767,3078416653&fm=26&gp=0.jpg" alt="Xu HP ACR 2013" style="
        width: 625px;
        height: 275px;
    ">
            </a>
        </p>
        <p> <strong>Selenium-containing Polymers:</strong>
        </p>
        <p style="margin-bottom: 0;height: 165px;overflow: hidden;">Fabrication of artificial biomimetic materials has attracted abundant attention. As one of the subcategories of biomimetic materials, artificial cells are highly significant for multiple disciplines and their synthesis has been intensively pursued.
            In order to manufacture robust “alive” artificial cells with high throughput, easy operation, and precise control, flexible microfluidic techniques are widely utilized. Herein, recent advances in microfluidic‐based methods for the synthesis
            of droplets, vesicles, and artificial cells are summarized. First, the advances of droplet fabrication and manipulation on the T‐junction, flow‐focusing, and coflowing microfluidic devices are discussed. Then, the formation of unicompartmental
            and multicompartmental vesicles based on microfluidics are summarized. Furthermore, the engineering of droplet‐based and vesicle‐based artificial cells by microfluidics is also reviewed. Moreover, the artificial cells applied for imitating
            cell behavior and acting as bioreactors for synthetic biology are highlighted. Finally, the current challenges and future trends in microfluidic‐based artificial cells are discussed. This review should be helpful for researchers in the fields
            of microfluidics, biomaterial fabrication, and synthetic biology.</p>
    </div>
    <div class="welcome-detail welcome-detail-full-width dis">

        <p style="margin-top: 0px;">
            <a href="/Huaping_files/Xu-HP-ACR-2013.jpeg">
                <img class="wp-image-333 aligncenter" src="/static/index.jpg" alt="Xu HP ACR 2013" style="
        width: 625px;
        height: 275px;
    ">
            </a>
        </p>
        <p> <strong>Selenium-containing Polymers:</strong>
        </p>
        <p style="margin-bottom: 0;height: 165px;overflow: hidden;">Fabrication of artificial biomimetic materials has attracted abundant attention. As one of the subcategories of biomimetic materials, artificial cells are highly significant for multiple disciplines and their synthesis has been intensively pursued.
            In order to manufacture robust “alive” artificial cells with high throughput, easy operation, and precise control, flexible microfluidic techniques are widely utilized. Herein, recent advances in microfluidic‐based methods for the synthesis
            of droplets, vesicles, and artificial cells are summarized. First, the advances of droplet fabrication and manipulation on the T‐junction, flow‐focusing, and coflowing microfluidic devices are discussed. Then, the formation of unicompartmental
            and multicompartmental vesicles based on microfluidics are summarized. Furthermore, the engineering of droplet‐based and vesicle‐based artificial cells by microfluidics is also reviewed. Moreover, the artificial cells applied for imitating
            cell behavior and acting as bioreactors for synthetic biology are highlighted. Finally, the current challenges and future trends in microfluidic‐based artificial cells are discussed. This review should be helpful for researchers in the fields
            of microfluidics, biomaterial fabrication, and synthetic biology.</p>
    </div>

</div>

<script>
    data = $(".dis");

    len = data.length;
    n = 1;
    console.log(data);

    function test() {
        console.log('test', n);
        if (n < len) {
            $(".swiper-wrapper").html(data[n]);
            n++;
        } else {
            n = 0;
            $(".swiper-wrapper").html(data[n]);
        }

    }


    setInterval(function() {
        test()

    }, 10000)
</script>


<script>
    //速度设置
    var speed = 100;
    var colee2 = document.getElementById("colee2");
    var colee1 = document.getElementById("colee1");
    var colee = document.getElementById("colee");
    colee2.innerHTML = colee1.innerHTML; //克隆colee1为colee2
    function Marquee1() {
        //当滚动至colee1与colee2交界时
        if (colee2.offsetTop - colee.scrollTop <= 0) { 
            colee.scrollTop -= colee1.offsetHeight; //colee跳到最顶端
             
        } else { 
            colee.scrollTop++
                // console.log('colee2.offsetTop', colee2.offsetTop);
                // console.log('colee.scrollTop', colee.scrollTop);
        }
    }
    var MyMar1 = setInterval(Marquee1, speed) //设置定时器


    //鼠标移上时清除定时器达到滚动停止的目的
    colee.onmouseover = function() {
            clearInterval(MyMar1)
        }
        //鼠标移开时重设定时器
    colee.onmouseout = function() {
        MyMar1 = setInterval(Marquee1, speed)
    }
</script>

<script type="text/javascript" src="/lunbo/js/jquery.min.js"></script>
<script type="text/javascript" src="/lunbo/js/Cooldog.js"></script>

{/block}