{extend name="index/base" /} {block name="body"}
<style>
    .sidebar ul li {
        padding: 15px 30px;
    }
</style>
<div style="width: 1170px;margin: auto;">
    <div id="secondary-right" class="widget-area right-sidebar sidebar" style="float:left;width:23%;">
        <aside id="latest-events" class="clearfix">
            <h3 class="widget-title">NEWS</h3>
            <ul>
                <li>
                    <a href="#teacher">Teachers</a>
                </li>
                <li>
                    <a href="#research">Research Associates</a>
                </li>
                <li>
                    <a href="#postdoctoral">Postdoctoral</a>
                </li>
            </ul>

        </aside>


    </div>
    <style>
        .type {
            text-align: center;
            border-bottom: 3px solid #F2F2F2;
            margin: 30PX;
        }
        
        table a {
            color: cadetblue;
        }
        
        tr td:nth-child(2n) {
            text-align: center;
        }
        
        p img {
            height: 50px;
            width: 100px;
            margin-left: 15%;
        }
    </style>

    <div class="ak-container">
        <!-- <h2>Teachers</h2> -->
        <!-- <section id="primary" class="content-area" style="width: 75%;margin-bottom:30px;"> -->
        <main id="main" class="site-main" role="main" style="margin-left: 5%;">
            <!-- .page-header -->
            <div class="entry-content" style="margin-top: 30px;">

                <div style="margin-left: 25%;border-bottom: 1px solid #9E9E9E;">
                    <p>
                        <img src="https://dss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2776831251,1315482145&fm=26&gp=0.jpg" alt="">
                        <img src="https://dss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2776831251,1315482145&fm=26&gp=0.jpg" alt="">
                        <img src="https://dss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2776831251,1315482145&fm=26&gp=0.jpg" alt="">
                    </p>

                </div>
                <div style="margin-left: 25%;border-bottom: 1px solid #9E9E9E;">
                    <p>
                        <img src="https://dss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2776831251,1315482145&fm=26&gp=0.jpg" alt="">
                        <img src="https://dss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2776831251,1315482145&fm=26&gp=0.jpg" alt="">
                        <img src="https://dss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2776831251,1315482145&fm=26&gp=0.jpg" alt="">
                    </p>

                </div>
                <div style="margin-left: 25%;border-bottom: 1px solid #9E9E9E;">
                    <p>
                        <img src="https://dss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2776831251,1315482145&fm=26&gp=0.jpg" alt="">
                        <img src="https://dss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2776831251,1315482145&fm=26&gp=0.jpg" alt="">
                        <img src="https://dss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2776831251,1315482145&fm=26&gp=0.jpg" alt="">
                    </p>

                </div>
                <div style="margin-left: 25%;border-bottom: 1px solid #9E9E9E;">
                    <p>
                        <img src="https://dss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2776831251,1315482145&fm=26&gp=0.jpg" alt="">
                        <img src="https://dss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2776831251,1315482145&fm=26&gp=0.jpg" alt="">
                        <img src="https://dss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2776831251,1315482145&fm=26&gp=0.jpg" alt="">
                    </p>

                </div>
            </div>

            <!-- .navigation -->
        </main>
        <!-- #main -->
        <!-- </section> -->

    </div>

</div>

</div>


{/block}