{extend name="index/base" /} {block name="body"}
<style>
    .sidebar ul li {
        padding: 15px 30px;
    }
</style>
<div style="width: 1170px;margin: auto;">
    <div id="secondary-right" class="widget-area right-sidebar sidebar" style="float:left;">
        <div id="top">
            <aside id="latest-events" class="clearfix">
                <h3 class="widget-title" style="
                margin-top: 11px;
            ">NEWS</h3>
                <ul>
                    <li>
                        <a href="#teacher">Teachers</a>
                    </li>
                    <li>
                        <a href="#research">Research Associates</a>
                    </li>
                    <li>
                        <a href="#postdoctoral">Postdoctoral</a>
                    </li>
                </ul>

            </aside>

        </div>


    </div>
    <style>
        .type {
            text-align: center;
            border-bottom: 3px solid #F2F2F2;
            margin: 30PX;
        }
        
        table a {
            color: cadetblue;
        }
        
        .first div img {
            height: 50px;
            width: 200px;
        }
        
        .first div:nth-child(-n+3) {
            float: left;
        }
        
        .first div:nth-child(2),
        .first div:nth-child(3) {
            margin-left: 27px;
        }
        
        .first div:nth-last-child(1) {
            float: right;
        }
        
        .second div img {
            height: 40px;
            width: 120px;
        }
        
        .second div:nth-child(-n+5) {
            float: left;
        }
        
        .second div:nth-child(2),
        .second div:nth-child(3),
        .second div:nth-child(4),
        .second div:nth-child(5) {
            margin-left: 33px;
        }
        
        .second div:nth-last-child(1) {
            float: right;
        }
    </style>

    <div class="ak-container">
        <!-- <h2>Teachers</h2> -->
        <section id="primary" class="content-area" style="margin-bottom:11px;">
            <main id="main" class="site-main" role="main" style="">
                <!-- .page-header -->
                <div class="entry-content" style="margin-top: 0px;">
                    <h1 style="text-align: center;margin-top: 0px;">LINKS LIST</h1>
                    <hr>
                    <div class="first">
                        <div class="_first">
                            <img src="https://dss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2776831251,1315482145&fm=26&gp=0.jpg" alt="">
                        </div>
                        <div class="_first">
                            <img src="https://dss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2776831251,1315482145&fm=26&gp=0.jpg" alt="">
                        </div>
                        <div class="_first">
                            <img src="https://dss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2776831251,1315482145&fm=26&gp=0.jpg" alt="">
                        </div>
                        <div class="_first">
                            <img src="https://dss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2776831251,1315482145&fm=26&gp=0.jpg" alt="">
                        </div>

                    </div>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <div class="first">
                        <div class="_first">
                            <img src="https://dss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2776831251,1315482145&fm=26&gp=0.jpg" alt="">
                        </div>
                        <div class="_first">
                            <img src="https://dss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2776831251,1315482145&fm=26&gp=0.jpg" alt="">
                        </div>
                        <div class="_first">
                            <img src="https://dss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2776831251,1315482145&fm=26&gp=0.jpg" alt="">
                        </div>
                        <div class="_first">
                            <img src="https://dss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2776831251,1315482145&fm=26&gp=0.jpg" alt="">
                        </div>

                    </div>
                    <div>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                    </div>


                    <div class="second">
                        <div>
                            <img src="https://dss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2776831251,1315482145&fm=26&gp=0.jpg" alt="">
                        </div>
                        <div>
                            <img src="https://dss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2776831251,1315482145&fm=26&gp=0.jpg" alt="">
                        </div>
                        <div>
                            <img src="https://dss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2776831251,1315482145&fm=26&gp=0.jpg" alt="">
                        </div>
                        <div>
                            <img src="https://dss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2776831251,1315482145&fm=26&gp=0.jpg" alt="">
                        </div>
                        <div>
                            <img src="https://dss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2776831251,1315482145&fm=26&gp=0.jpg" alt="">
                        </div>
                        <div>
                            <img src="https://dss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2776831251,1315482145&fm=26&gp=0.jpg" alt="">
                        </div>


                    </div>
                    <div>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                    </div>


                    <div class="second">
                        <div>
                            <img src="https://dss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2776831251,1315482145&fm=26&gp=0.jpg" alt="">
                        </div>
                        <div>
                            <img src="https://dss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2776831251,1315482145&fm=26&gp=0.jpg" alt="">
                        </div>
                        <div>
                            <img src="https://dss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2776831251,1315482145&fm=26&gp=0.jpg" alt="">
                        </div>
                        <div>
                            <img src="https://dss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2776831251,1315482145&fm=26&gp=0.jpg" alt="">
                        </div>
                        <div>
                            <img src="https://dss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2776831251,1315482145&fm=26&gp=0.jpg" alt="">
                        </div>
                        <div>
                            <img src="https://dss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2776831251,1315482145&fm=26&gp=0.jpg" alt="">
                        </div>


                    </div>
                    <div>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                    </div>


                    <div class="second">
                        <div>
                            <img src="https://dss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2776831251,1315482145&fm=26&gp=0.jpg" alt="">
                        </div>
                        <div>
                            <img src="https://dss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2776831251,1315482145&fm=26&gp=0.jpg" alt="">
                        </div>
                        <div>
                            <img src="https://dss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2776831251,1315482145&fm=26&gp=0.jpg" alt="">
                        </div>
                        <div>
                            <img src="https://dss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2776831251,1315482145&fm=26&gp=0.jpg" alt="">
                        </div>
                        <div>
                            <img src="https://dss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2776831251,1315482145&fm=26&gp=0.jpg" alt="">
                        </div>
                        <div>
                            <img src="https://dss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2776831251,1315482145&fm=26&gp=0.jpg" alt="">
                        </div>


                    </div>
                    <div>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                    </div>


                    <div class="second">
                        <div>
                            <img src="https://dss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2776831251,1315482145&fm=26&gp=0.jpg" alt="">
                        </div>
                        <div>
                            <img src="https://dss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2776831251,1315482145&fm=26&gp=0.jpg" alt="">
                        </div>
                        <div>
                            <img src="https://dss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2776831251,1315482145&fm=26&gp=0.jpg" alt="">
                        </div>
                        <div>
                            <img src="https://dss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2776831251,1315482145&fm=26&gp=0.jpg" alt="">
                        </div>
                        <div>
                            <img src="https://dss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2776831251,1315482145&fm=26&gp=0.jpg" alt="">
                        </div>
                        <div>
                            <img src="https://dss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2776831251,1315482145&fm=26&gp=0.jpg" alt="">
                        </div>


                    </div>
                    <p>&nbsp;</p>
                </div>

                <!-- .navigation -->
            </main>
            <!-- #main -->
        </section>

    </div>

</div>

</div>


{/block}