{extend name="index/base" /} {block name="body"}
<style>
    .sidebar ul li {
        padding: 15px 30px;
    }
    
    .event-thumbnail img {
        height: 100px;
        width: 131px;
    }
    
    .event-excerpt {
        text-align: justify;
        font-size: 13px;
        height: 55px;
        overflow: hidden;
    }
    
    .type {
        text-align: center;
        border-bottom: 3px solid #F2F2F2;
        margin: 30PX;
    }
    
    table a {
        color: cadetblue;
    }
    
    .first div img {
        height: 50px;
        width: 200px;
    }
    
    .first div:nth-child(-n+3) {
        float: left;
    }
    
    .first div:nth-child(2),
    .first div:nth-child(3) {
        margin-left: 14px;
    }
    
    .first div:nth-last-child(1) {
        float: right;
    }
    
    .second div img {
        height: 40px;
        width: 120px;
    }
    
    .second div:nth-child(-n+5) {
        float: left;
    }
    
    .second div:nth-child(2),
    .second div:nth-child(3),
    .second div:nth-child(4),
    .second div:nth-child(5) {
        margin-left: 25px;
    }
    
    .second div:nth-last-child(1) {
        float: right;
    }
</style>
<div style="width: 1170px;margin: auto;">
    <div id="secondary-right" class="widget-area right-sidebar sidebar" style="float:left;">
        <div id="top">
            <aside id="latest-events" class="clearfix">
                <h3 class="widget-title" style="
                margin-top: 11px;
            ">NEWS</h3>
                <div id="latest-events">
                    <div id="colee" style="overflow:hidden;height:500px;">
                        <div id="colee1">

                            <div class="event-list clearfix">
                                <figure class="event-thumbnail">
                                    <a href="{$site.domain}/congratulations-phd-student-jiahao-xia-received-best-poster-award-in-2019-the-16th-pacific-polymer-conference/">
                                        <img src="https://dss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=194233767,3078416653&fm=26&gp=0.jpg">
                                    </a>
                                </figure>
                                <div class="event-detail" style="width:50%">
                                    <h3 class="event-title" style="margin-bottom: 0px;">
                                        <a href="{$site.domain}/congratulations-phd-student-jiahao-xia-received-best-poster-award-in-2019-the-16th-pacific-polymer-conference/">title</a></h3>

                                    <div class="event-excerpt">cial biomimetic materials has attracted abundant attention. As one of the subcategories oftitleare highly significant for multiple dis</div>
                                </div>
                            </div>
                            <div class="event-list clearfix">
                                <figure class="event-thumbnail">
                                    <a href="{$site.domain}/congratulations-phd-student-jiahao-xia-received-best-poster-award-in-2019-the-16th-pacific-polymer-conference/">
                                        <img src="https://dss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=194233767,3078416653&fm=26&gp=0.jpg">
                                    </a>
                                </figure>
                                <div class="event-detail" style="width:50%">
                                    <h3 class="event-title" style="margin-bottom: 0px;">
                                        <a href="{$site.domain}/congratulations-phd-student-jiahao-xia-received-best-poster-award-in-2019-the-16th-pacific-polymer-conference/">title</a></h3>

                                    <div class="event-excerpt">cial biomimetic materials has attracted abundant attention. As one of the subcategories oftitleare highly significant for multiple dis</div>
                                </div>
                            </div>
                            <div class="event-list clearfix">
                                <figure class="event-thumbnail">
                                    <a href="{$site.domain}/congratulations-phd-student-jiahao-xia-received-best-poster-award-in-2019-the-16th-pacific-polymer-conference/">
                                        <img src="https://dss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=194233767,3078416653&fm=26&gp=0.jpg">
                                    </a>
                                </figure>
                                <div class="event-detail" style="width:50%">
                                    <h3 class="event-title" style="margin-bottom: 0px;">
                                        <a href="{$site.domain}/congratulations-phd-student-jiahao-xia-received-best-poster-award-in-2019-the-16th-pacific-polymer-conference/">title</a></h3>

                                    <div class="event-excerpt">cial biomimetic materials has attracted abundant attention. As one of the subcategories oftitleare highly significant for multiple dis</div>
                                </div>
                            </div>
                            <div class="event-list clearfix">
                                <figure class="event-thumbnail">
                                    <a href="{$site.domain}/congratulations-phd-student-jiahao-xia-received-best-poster-award-in-2019-the-16th-pacific-polymer-conference/">
                                        <img src="https://dss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=194233767,3078416653&fm=26&gp=0.jpg">
                                    </a>
                                </figure>
                                <div class="event-detail" style="width:50%">
                                    <h3 class="event-title" style="margin-bottom: 0px;">
                                        <a href="{$site.domain}/congratulations-phd-student-jiahao-xia-received-best-poster-award-in-2019-the-16th-pacific-polymer-conference/">title</a></h3>

                                    <div class="event-excerpt">cial biomimetic materials has attracted abundant attention. As one of the subcategories oftitleare highly significant for multiple dis</div>
                                </div>
                            </div>

                            <p></p>
                        </div>
                        <div id="colee2"></div>
                    </div>

                    <a class="all-events" href="/links">More+</a>



                </div>

            </aside>

        </div>


    </div>

    <div class="ak-container">
        <!-- <h2>Teachers</h2> -->
        <section id="primary" class="content-area" style="margin-bottom:11px;width: 72%;margin-top: 11px;">
            <main id="main" class="site-main" role="main" style="">
                <!-- .page-header -->
                <div class="entry-content" style="margin-top: 0px;">
                    <h1 style="text-align: center;margin-top: 0px;">LINKS LIST</h1>
                    <hr>
                    <div class="first">
                        <div class="_first">
                            <img src="https://dss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2776831251,1315482145&fm=26&gp=0.jpg" alt="">
                        </div>
                        <div class="_first">
                            <img src="https://dss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2776831251,1315482145&fm=26&gp=0.jpg" alt="">
                        </div>
                        <div class="_first">
                            <img src="https://dss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2776831251,1315482145&fm=26&gp=0.jpg" alt="">
                        </div>
                        <div class="_first">
                            <img src="https://dss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2776831251,1315482145&fm=26&gp=0.jpg" alt="">
                        </div>

                    </div>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <div class="first">
                        <div class="_first">
                            <img src="https://dss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2776831251,1315482145&fm=26&gp=0.jpg" alt="">
                        </div>
                        <div class="_first">
                            <img src="https://dss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2776831251,1315482145&fm=26&gp=0.jpg" alt="">
                        </div>
                        <div class="_first">
                            <img src="https://dss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2776831251,1315482145&fm=26&gp=0.jpg" alt="">
                        </div>
                        <div class="_first">
                            <img src="https://dss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2776831251,1315482145&fm=26&gp=0.jpg" alt="">
                        </div>

                    </div>
                    <div>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                    </div>


                    <div class="second">
                        <div>
                            <img src="https://dss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2776831251,1315482145&fm=26&gp=0.jpg" alt="">
                        </div>
                        <div>
                            <img src="https://dss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2776831251,1315482145&fm=26&gp=0.jpg" alt="">
                        </div>
                        <div>
                            <img src="https://dss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2776831251,1315482145&fm=26&gp=0.jpg" alt="">
                        </div>
                        <div>
                            <img src="https://dss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2776831251,1315482145&fm=26&gp=0.jpg" alt="">
                        </div>
                        <div>
                            <img src="https://dss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2776831251,1315482145&fm=26&gp=0.jpg" alt="">
                        </div>
                        <div>
                            <img src="https://dss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2776831251,1315482145&fm=26&gp=0.jpg" alt="">
                        </div>


                    </div>
                    <div>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                    </div>


                    <div class="second">
                        <div>
                            <img src="https://dss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2776831251,1315482145&fm=26&gp=0.jpg" alt="">
                        </div>
                        <div>
                            <img src="https://dss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2776831251,1315482145&fm=26&gp=0.jpg" alt="">
                        </div>
                        <div>
                            <img src="https://dss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2776831251,1315482145&fm=26&gp=0.jpg" alt="">
                        </div>
                        <div>
                            <img src="https://dss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2776831251,1315482145&fm=26&gp=0.jpg" alt="">
                        </div>
                        <div>
                            <img src="https://dss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2776831251,1315482145&fm=26&gp=0.jpg" alt="">
                        </div>
                        <div>
                            <img src="https://dss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2776831251,1315482145&fm=26&gp=0.jpg" alt="">
                        </div>


                    </div>
                    <div>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                    </div>


                    <div class="second">
                        <div>
                            <img src="https://dss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2776831251,1315482145&fm=26&gp=0.jpg" alt="">
                        </div>
                        <div>
                            <img src="https://dss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2776831251,1315482145&fm=26&gp=0.jpg" alt="">
                        </div>
                        <div>
                            <img src="https://dss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2776831251,1315482145&fm=26&gp=0.jpg" alt="">
                        </div>
                        <div>
                            <img src="https://dss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2776831251,1315482145&fm=26&gp=0.jpg" alt="">
                        </div>
                        <div>
                            <img src="https://dss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2776831251,1315482145&fm=26&gp=0.jpg" alt="">
                        </div>
                        <div>
                            <img src="https://dss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2776831251,1315482145&fm=26&gp=0.jpg" alt="">
                        </div>


                    </div>
                    <div>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                    </div>


                    <div class="second">
                        <div>
                            <img src="https://dss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2776831251,1315482145&fm=26&gp=0.jpg" alt="">
                        </div>
                        <div>
                            <img src="https://dss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2776831251,1315482145&fm=26&gp=0.jpg" alt="">
                        </div>
                        <div>
                            <img src="https://dss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2776831251,1315482145&fm=26&gp=0.jpg" alt="">
                        </div>
                        <div>
                            <img src="https://dss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2776831251,1315482145&fm=26&gp=0.jpg" alt="">
                        </div>
                        <div>
                            <img src="https://dss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2776831251,1315482145&fm=26&gp=0.jpg" alt="">
                        </div>
                        <div>
                            <img src="https://dss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2776831251,1315482145&fm=26&gp=0.jpg" alt="">
                        </div>


                    </div>
                    <p>&nbsp;</p>
                </div>

                <!-- .navigation -->
            </main>
            <!-- #main -->
        </section>

    </div>

</div>

</div>


{/block}