{extend name="index/base" /} {block name="body"}

<style>
    .sidebar ul li {
        padding: 10px 30px;
    }
</style>
<script language="javascript">
    window.onscroll = function(e) {

        var scrolltop = document.documentElement.scrollTop || document.body.scrollTop;
        node = document.getElementById('top');
        if (scrolltop <= 200) {
            node.style.position = '';


        } else {
            node.style.position = 'fixed';
            node.style.top = '0px';
            node.style['z-index'] = '9999';
        }
        // var box = document.getElementById('box');
        // box.style.top = scrolltop + 'px';
        console.log(scrolltop);
    }
</script>
<div style="width: 1170px;margin: auto;">
    <div id="secondary-right" class="widget-area right-sidebar sidebar" style="float:left;">
        <div id="top" style="width:285px;">
            <aside id="latest-events" class="clearfix">
                <h3 class="widget-title" style="margin-top: 11px;">MEMBERS</h3>
                <ul>
                    <li>
                        <a href="#teacher">Teachers</a>
                    </li>
                    <li>
                        <a href="#fellows">Postdoctoral Fellows</a></li>
                    <li><a href="#students">Graduate students</a></li>
                    <li>
                        <a href="#research">Research Associates</a>
                    </li>

                    <li>
                        <a href="#visitors">Academic visitors</a></li>
                    <li>
                        <a href="#former">Former Members</a>
                    </li>

                </ul>

            </aside>
        </div>



    </div>
    <style>
        .type {
            text-align: center;
            border-bottom: 3px solid #F2F2F2;
            margin: 30PX;
        }
        
        table a {
            color: cadetblue;
        }
        
        tr td:nth-child(2n) {
            text-align: center;
        }
        
        td img {
            height: 250px;
        }
    </style>

    <div class="ak-container">
        <!-- <h2>Teachers</h2> -->
        <section id="primary" class="content-area" style="width: 75%;margin-bottom:11px;float: right;padding-left: 30px;">
            <main id="main" class="site-main" role="main">

                <style>
                    .people_img {
                        float: left;
                        margin-left: 30px;
                    }
                    
                    .people_img img {
                        width: 170px;
                        height: 210px;
                    }
                    
                    .people_info {
                        float: left;
                        margin-left: 40px;
                        margin-top: 40px;
                        text-align: center;
                    }
                </style>
                <div class="entry-content" style="margin-top: 11px;">
                    <h1 style="text-align: center;margin-top: 0px;">MEMBERS LIST</h1>
                    <hr>


                    <div>
                        <div>
                            <a name="teacher">
                                <h2 style="margin-top: 0;"><strong>Teachers:</strong></h2>
                            </a>
                        </div>


                        <div class="member">
                            <div class="people_img">
                                <img src="http://staff.ustc.edu.cn/~yulab/photo/xujie.jpg" alt="xujie" width="170" height="141">
                            </div>
                            <div class="people_info">
                                <strong>Jie Xu</strong>
                                <p>徐杰</p>
                                <p>研究方向</p>
                                <p href="#">xujie89@mail.ustc.edu.cn</p>
                            </div>
                        </div>


                        <div class="member">
                            <div class="people_img">
                                <img src="http://staff.ustc.edu.cn/~yulab/photo/xujie.jpg" alt="xujie" width="170" height="141">
                            </div>
                            <div class="people_info">
                                <strong>Jie Xu</strong>
                                <p>徐杰</p>
                                <p>研究方向</p>
                                <p href="#">xujie89@mail.ustc.edu.cn</p>
                            </div>
                        </div>
                    </div>

                    <p>&nbsp;</p>
                    <p>&nbsp;</p>

                    <p>&nbsp;</p>
                    <p>&nbsp;</p>

                    <p>&nbsp;</p>
                    <p>&nbsp;</p>

                    <div>
                        <div>
                            <a name="fellows">
                                <h2 style="margin-top: 0;"><strong>Postdoctoral Fellows:</strong></h2>
                            </a>
                        </div>


                        <div class="member">
                            <div class="people_img">
                                <img src="http://staff.ustc.edu.cn/~yulab/photo/xujie.jpg" alt="xujie" width="170" height="141">
                            </div>
                            <div class="people_info">
                                <strong>Jie Xu</strong>
                                <p>徐杰</p>
                                <p>研究方向</p>
                                <p href="#">xujie89@mail.ustc.edu.cn</p>
                            </div>
                        </div>


                        <div class="member">
                            <div class="people_img">
                                <img src="http://staff.ustc.edu.cn/~yulab/photo/xujie.jpg" alt="xujie" width="170" height="141">
                            </div>
                            <div class="people_info">
                                <strong>Jie Xu</strong>
                                <p>徐杰</p>
                                <p>研究方向</p>
                                <p href="#">xujie89@mail.ustc.edu.cn</p>
                            </div>
                        </div>
                    </div>

                    <p>&nbsp;</p>
                    <p>&nbsp;</p>

                    <p>&nbsp;</p>
                    <p>&nbsp;</p>

                    <p>&nbsp;</p>
                    <p>&nbsp;</p>

                    <div>
                        <div>
                            <a name="students">
                                <h2 style="margin-top: 0;"><strong>Graduate students:</strong></h2>
                            </a>
                        </div>


                        <div class="member">
                            <div class="people_img">
                                <img src="http://staff.ustc.edu.cn/~yulab/photo/xujie.jpg" alt="xujie" width="170" height="141">
                            </div>
                            <div class="people_info">
                                <strong>Jie Xu</strong>
                                <p>徐杰</p>
                                <p>研究方向</p>
                                <p href="#">xujie89@mail.ustc.edu.cn</p>
                            </div>
                        </div>


                        <div class="member">
                            <div class="people_img">
                                <img src="http://staff.ustc.edu.cn/~yulab/photo/xujie.jpg" alt="xujie" width="170" height="141">
                            </div>
                            <div class="people_info">
                                <strong>Jie Xu</strong>
                                <p>徐杰</p>
                                <p>研究方向</p>
                                <p href="#">xujie89@mail.ustc.edu.cn</p>
                            </div>
                        </div>
                    </div>

                    <p>&nbsp;</p>
                    <p>&nbsp;</p>

                    <p>&nbsp;</p>
                    <p>&nbsp;</p>

                    <p>&nbsp;</p>
                    <p>&nbsp;</p>

                    <div>
                        <div>
                            <a name="research">
                                <h2 style="margin-top: 0;"><strong>Research Associates:</strong></h2>
                            </a>
                        </div>


                        <div class="member">
                            <div class="people_img">
                                <img src="http://staff.ustc.edu.cn/~yulab/photo/xujie.jpg" alt="xujie" width="170" height="141">
                            </div>
                            <div class="people_info">
                                <strong>Jie Xu</strong>
                                <p>徐杰</p>
                                <p>研究方向</p>
                                <p href="#">xujie89@mail.ustc.edu.cn</p>
                            </div>
                        </div>


                        <div class="member">
                            <div class="people_img">
                                <img src="http://staff.ustc.edu.cn/~yulab/photo/xujie.jpg" alt="xujie" width="170" height="141">
                            </div>
                            <div class="people_info">
                                <strong>Jie Xu</strong>
                                <p>徐杰</p>
                                <p>研究方向</p>
                                <p href="#">xujie89@mail.ustc.edu.cn</p>
                            </div>
                        </div>
                    </div>

                    <p>&nbsp;</p>
                    <p>&nbsp;</p>

                    <p>&nbsp;</p>
                    <p>&nbsp;</p>

                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <div>
                        <div>
                            <a name="visitors">
                                <h2 style="margin-top: 0;"><strong>Academic visitors:</strong></h2>
                            </a>
                        </div>


                        <div class="member">
                            <div class="people_img">
                                <img src="http://staff.ustc.edu.cn/~yulab/photo/xujie.jpg" alt="xujie" width="170" height="141">
                            </div>
                            <div class="people_info">
                                <strong>Jie Xu</strong>
                                <p>徐杰</p>
                                <p>研究方向</p>
                                <p href="#">xujie89@mail.ustc.edu.cn</p>
                            </div>
                        </div>


                        <div class="member">
                            <div class="people_img">
                                <img src="http://staff.ustc.edu.cn/~yulab/photo/xujie.jpg" alt="xujie" width="170" height="141">
                            </div>
                            <div class="people_info">
                                <strong>Jie Xu</strong>
                                <p>徐杰</p>
                                <p>研究方向</p>
                                <p href="#">xujie89@mail.ustc.edu.cn</p>
                            </div>
                        </div>
                    </div>

                    <p>&nbsp;</p>
                    <p>&nbsp;</p>

                    <p>&nbsp;</p>
                    <p>&nbsp;</p>

                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <div>
                        <div>
                            <a name="former">
                                <h2 style="margin-top: 0;"><strong>Former Members:</strong></h2>
                            </a>
                        </div>


                        <div class="member">
                            <div class="people_img">
                                <img src="http://staff.ustc.edu.cn/~yulab/photo/xujie.jpg" alt="xujie" width="170" height="141">
                            </div>
                            <div class="people_info">
                                <strong>Jie Xu</strong>
                                <p>徐杰</p>
                                <p>研究方向</p>
                                <p href="#">xujie89@mail.ustc.edu.cn</p>
                            </div>
                        </div>


                        <div class="member">
                            <div class="people_img">
                                <img src="http://staff.ustc.edu.cn/~yulab/photo/xujie.jpg" alt="xujie" width="170" height="141">
                            </div>
                            <div class="people_info">
                                <strong>Jie Xu</strong>
                                <p>徐杰</p>
                                <p>研究方向</p>
                                <p href="#">xujie89@mail.ustc.edu.cn</p>
                            </div>
                        </div>
                    </div>

                </div>








    </div>



    <!-- .navigation -->
    </main>
    <!-- #main -->
    </section>

</div>
<!-- <style>
    #top {
        position: fixed;
        /* top: 0px; */
        z-index: 1;
    }
</style> -->



{/block}