{extend name="index/base" /} {block name="body"}
<style>
    #masthead {
        padding-bottom: 20px;
    }
    
    .sidebar ul li {
        padding: 15px 30px;
    }
</style>
<div style="width: 1170px;margin: auto;">
    <div id="secondary-right" class="widget-area right-sidebar sidebar" style="float:left;width:23%;">
        <aside id="latest-events" class="clearfix">
            <h3 class="widget-title">MEMBERS</h3>
            <ul>
                <li>
                    <a href="#teacher">Teachers</a>
                </li>
                <li>
                    <a href="#research">Research Associates</a>
                </li>
                <li>
                    <a href="#postdoctoral">Postdoctoral</a>
                </li>
                <li>
                    <a href="#fellows">Fellows</a></li>
                <li>
                    <a href="#student">Graduate student</a></li>
                <li>
                    <a href="#visitors">Academic visitors</a></li>
                <li>
                    <a href="#alumni">Alumni</a></li>
            </ul>

        </aside>


    </div>
    <style>
        .type {
            text-align: center;
            border-bottom: 3px solid #F2F2F2;
            margin: 30PX;
        }
        
        table a {
            color: cadetblue;
        }
        
        tr td:nth-child(2n) {
            text-align: center;
        }
    </style>

    <div class="ak-container">
        <!-- <h2>Teachers</h2> -->
        <section id="primary" class="content-area" style="width: 70%;margin-bottom:30px;">
            <main id="main" class="site-main" role="main" style="margin-left: 5%;">
                <!-- .page-header -->
                <div class="entry-content" style="margin-top: 0;">
                    <a name="teacher">
                        <h2><strong>Teachers:</strong></h2>
                    </a>
                    <table width="800" border="0" align="center" cellspacing="1">
                        <tbody>

                            <tr>
                                <td width="170">
                                    <a href="/member/1">
                                        <img src="http://staff.ustc.edu.cn/~yulab/photo/xujie.jpg" alt="xujie" width="170" height="141"></td>
                                </a>
                                <td width="217">
                                    <strong>Jie Xu</strong>
                                    <p>徐杰</p>

                                    <a href="#">xujie89@mail.ustc.edu.cn</a>


                                </td>

                                <td width="170">
                                    <img src="http://staff.ustc.edu.cn/~yulab/photo/xujie.jpg" alt="xuliang" width="170" height="141"></td>
                                <td width="217">
                                    <strong>Liang Xu</strong>

                                    <p>徐亮 </p>
                                    <p><span lang="EN-US" xml:lang="EN-US">
                            <a href="mailto:lxu11@mail.ustc.edu.cn" >lxu11@mail.ustc.edu.cn</a></span></p>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                    <a name="research">
                        <h2><strong>Research Associates:</strong></h2>
                    </a>
                    <table width="800" border="0" align="center" cellspacing="1">
                        <tbody>

                            <tr>
                                <td width="170">
                                    <img src="http://staff.ustc.edu.cn/~yulab/photo/xujie.jpg" alt="xujie" width="170" height="141"></td>
                                <td width="217">
                                    <strong>Jie Xu</strong>
                                    <p>徐杰</p>

                                    <a href="mailto:xujie89@mail.ustc.edu.cn">xujie89@mail.ustc.edu.cn</a>


                                </td>
                                <td width="170">
                                    <img src="http://staff.ustc.edu.cn/~yulab/photo/xujie.jpg" alt="xuliang" width="170" height="141"></td>
                                <td width="217">
                                    <strong>Liang Xu</strong>

                                    <p>徐亮 </p>
                                    <p><span lang="EN-US" xml:lang="EN-US">
                            <a href="mailto:lxu11@mail.ustc.edu.cn" >lxu11@mail.ustc.edu.cn</a></span></p>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                    <a name="postdoctoral">
                        <h2><strong>Postdoctoral:</strong></h2>
                    </a>
                    <table width="800" border="0" align="center" cellspacing="1">
                        <tbody>

                            <tr>
                                <td width="170">
                                    <img src="http://staff.ustc.edu.cn/~yulab/photo/xujie.jpg" alt="xujie" width="170" height="141"></td>
                                <td width="217">
                                    <strong>Jie Xu</strong>
                                    <p>徐杰</p>

                                    <a href="mailto:xujie89@mail.ustc.edu.cn">xujie89@mail.ustc.edu.cn</a>


                                </td>
                                <td width="170">
                                    <img src="http://staff.ustc.edu.cn/~yulab/photo/xujie.jpg" alt="xuliang" width="170" height="141"></td>
                                <td width="217">
                                    <strong>Liang Xu</strong>

                                    <p>徐亮 </p>
                                    <p><span lang="EN-US" xml:lang="EN-US">
                            <a href="mailto:lxu11@mail.ustc.edu.cn" >lxu11@mail.ustc.edu.cn</a></span></p>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                    <a name="fellows">
                        <h2><strong>Fellows:</strong></h2>
                    </a>
                    <table width="800" border="0" align="center" cellspacing="1">
                        <tbody>

                            <tr>
                                <td width="170">
                                    <img src="http://staff.ustc.edu.cn/~yulab/photo/xujie.jpg" alt="xujie" width="170" height="141"></td>
                                <td width="217">
                                    <strong>Jie Xu</strong>
                                    <p>徐杰</p>

                                    <a href="mailto:xujie89@mail.ustc.edu.cn">xujie89@mail.ustc.edu.cn</a>

                                </td>

                                <td width="170">&nbsp;</td>
                                <td width="216">&nbsp;</td>


                            </tr>

                        </tbody>
                    </table>
                    <a name="student">
                        <h2><strong>Graduate student:</strong></h2>
                    </a>
                    <table width="800" border="0" align="center" cellspacing="1">
                        <tbody>

                            <tr>
                                <td width="170">
                                    <img src="http://staff.ustc.edu.cn/~yulab/photo/xujie.jpg" alt="xujie" width="170" height="141"></td>
                                <td width="217">
                                    <strong>Jie Xu</strong>
                                    <p>徐杰</p>

                                    <a href="mailto:xujie89@mail.ustc.edu.cn">xujie89@mail.ustc.edu.cn</a>


                                </td>
                                <td width="170">
                                    <img src="http://staff.ustc.edu.cn/~yulab/photo/xujie.jpg" alt="xuliang" width="170" height="141"></td>
                                <td width="217">
                                    <strong>Liang Xu</strong>

                                    <p>徐亮 </p>
                                    <p><span lang="EN-US" xml:lang="EN-US">
                            <a href="mailto:lxu11@mail.ustc.edu.cn" >lxu11@mail.ustc.edu.cn</a></span></p>
                                </td>
                            </tr>

                        </tbody>
                    </table>

                    <a name="visitors">
                        <h2><strong>Academic visitors:</strong></h2>
                    </a>
                    <table width="800" border="0" align="center" cellspacing="1">
                        <tbody>

                            <tr>
                                <td width="170">
                                    <img src="http://staff.ustc.edu.cn/~yulab/photo/xujie.jpg" alt="xujie" width="170" height="141"></td>
                                <td width="217">
                                    <strong>Jie Xu</strong>
                                    <p>徐杰</p>

                                    <a href="mailto:xujie89@mail.ustc.edu.cn">xujie89@mail.ustc.edu.cn</a>


                                </td>
                                <td width="170">
                                    <img src="http://staff.ustc.edu.cn/~yulab/photo/xujie.jpg" alt="xuliang" width="170" height="141"></td>
                                <td width="217">
                                    <strong>Liang Xu</strong>

                                    <p>徐亮 </p>
                                    <p><span lang="EN-US" xml:lang="EN-US">
                            <a href="mailto:lxu11@mail.ustc.edu.cn" >lxu11@mail.ustc.edu.cn</a></span></p>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                    <a name="alumni">
                        <h2><strong>Alumni:</strong></h2>
                    </a>
                    <table width="800" border="0" align="center" cellspacing="1">
                        <tbody>

                            <tr>
                                <td width="170">
                                    <img src="http://staff.ustc.edu.cn/~yulab/photo/xujie.jpg" alt="xujie" width="170" height="141"></td>
                                <td width="217">
                                    <strong>Jie Xu</strong>
                                    <p>徐杰</p>

                                    <a href="mailto:xujie89@mail.ustc.edu.cn">xujie89@mail.ustc.edu.cn</a>


                                </td>
                                <td width="170">
                                    <img src="http://staff.ustc.edu.cn/~yulab/photo/xujie.jpg" alt="xuliang" width="170" height="141"></td>
                                <td width="217">
                                    <strong>Liang Xu</strong>

                                    <p>徐亮 </p>
                                    <p><span lang="EN-US" xml:lang="EN-US">
                            <a href="mailto:lxu11@mail.ustc.edu.cn" >lxu11@mail.ustc.edu.cn</a></span></p>
                                </td>
                            </tr>

                        </tbody>
                    </table>



                </div>

                <!-- .navigation -->
            </main>
            <!-- #main -->
        </section>

    </div>

</div>

</div>


{/block}