  <nav id="site-navigation" class="main-navigation menu-left">
                <div class="ak-container">
                    <h1 class="menu-toggle">Menu</h1>
                    <div class="menu-default-container">
                        <ul id="menu-default" class="menu">
                            <li id="menu-item-49" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-49"><a href="{$site.domain}">HOME</a>
                            </li>
                            <li id="menu-item-47" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-47"><a href="{$site.domain}/news/">News</a>
                            </li>
                            <li id="menu-item-61" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-61"><a href="{$site.domain}/people/">MEMBERS</a>
                            </li>
                            <li id="menu-item-62" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-62"><a href="{$site.domain}/publications/">PUBLICATIONS</a>
                            </li>
                            <li id="menu-item-59" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-62"><a href="{$site.domain}/about-me/">ABOUT ME</a>
                            </li>
                            <li id="menu-item-60" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-60"><a href="{$site.domain}/contact-us/">CONTACT US</a>
                            </li>
                            <li id="menu-item-1277" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1277"><a href="{$site.domain}/open-positions/">OPEN POSITIONS</a>
                            </li>
                            <li id="menu-item-291" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-291"><a href="{$site.domain}/gallery/">GALLERY</a>
                            </li>
                            <li id="menu-item-290" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-290"><a href="{$site.domain}/links/">LINKS</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- #site-navigation -->u