{extend name="index/base" /} {block name="body"}
<style>
    .sidebar ul li {
        padding: 15px 30px;
        text-align: center;
    }
    
    .entry-content div:nth-child(2n) {
        float: right;
        font-size: large;
        color: #9E9E9E;
        text-align: center;
    }
    
    .entry-content div:nth-child(2n-1) {
        float: left;
        font-size: large;
        color: #9E9E9E;
        text-align: center;
    }
    
    .entry-content div p {
        margin-top: 0px;
        font-size: 20px;
        margin-bottom: 30px;
    }
</style>
<div style="width: 1170px;margin: auto;">
    <div id="secondary-right" class="widget-area right-sidebar sidebar" style="float:left;width:23%;">
        <aside id="latest-events" class="clearfix">
            <h3 class="widget-title">RESEARCH</h3>
            <ul>
                <li>
                    <a href="#teacher"><img src="https://dss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=3805535875,1582688144&fm=26&gp=0.jpg" alt=""></a>
                    <a href="">课题标题</a>
                </li>
                <li>
                    <a href="#teacher"><img src="https://dss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=3805535875,1582688144&fm=26&gp=0.jpg" alt=""></a>
                    <a href="">课题标题</a>
                </li>
                <li>
                    <a href="#teacher"><img src="https://dss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=3805535875,1582688144&fm=26&gp=0.jpg" alt=""></a>
                    <a href="">课题标题</a>
                </li>
                <li>
                    <a href="#teacher"><img src="https://dss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=3805535875,1582688144&fm=26&gp=0.jpg" alt=""></a>
                    <a href="">课题标题</a>
                </li>
            </ul>
            <div>

            </div>
        </aside>


    </div>
    <style>
        .type {
            text-align: center;
            border-bottom: 3px solid #F2F2F2;
            margin: 30PX;
        }
        
        table a {
            color: cadetblue;
        }
        
        tr td:nth-child(2n) {
            text-align: center;
            /* padding-left: 30px; */
        }
        
        td>p {
            margin-bottom: 0;
            margin-top: 0;
        }
    </style>

    <div class="ak-container">
        <!-- <h2>Teachers</h2> -->
        <section id="primary" class="content-area" style="width: 75%;margin-bottom:30px;padding: 0 5%;
    margin-top: 70px;">
            <main id="main" class="site-main" role="main" style="margin-left: 5%;">
                <!-- .page-header -->
                <div class="entry-content" style="margin-top: 0;">

                    <div>
                        <img src="http://staff.ustc.edu.cn/~yulab/photo/photo.files/Image1.jpg" alt="">
                        <p>123465798</p>
                    </div>
                    <div>
                        <img src="http://staff.ustc.edu.cn/~yulab/photo/photo.files/Image1.jpg" alt="">
                        <p>123465798</p>
                    </div>
                    <div>
                        <img src="http://staff.ustc.edu.cn/~yulab/photo/photo.files/Image1.jpg" alt="">
                        <p>123465798</p>
                    </div>
                    <div>
                        <img src="http://staff.ustc.edu.cn/~yulab/photo/photo.files/Image1.jpg" alt="">
                        <p>123465798</p>
                    </div>
                    <div>
                        <img src="http://staff.ustc.edu.cn/~yulab/photo/photo.files/Image1.jpg" alt="">
                        <p>123465798</p>
                    </div>


                </div>

                <!-- .navigation -->
            </main>
            <!-- #main -->
        </section>

    </div>

</div>

</div>


{/block}